.opinion__picture-background {
    width: 220px;
    height: 220px;
    background-color: #f9f9f9;
    border-radius: 50%;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@include respond(750px) {
    .opinion__picture-background {
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
        max-width: 220px;
    }
}