.button {
  background-color: transparent;
  height: 50px;
  padding: 0 30px;
  border: 2px solid $grey-lvl1; 
  font-family: $font-second;
  font-size: $font-size-s;
  text-transform: uppercase;
  color: $grey-lvl1;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
  transition: all 300ms ease-in;
  z-index: 3;
  &:hover, &:focus {
    background-color: $grey-lvl1;
    color: $color-main;
  }
  
  &--dark {
      border-color: $grey-lvl6;
      color: $grey-lvl6;
      &:hover, &:focus {
          color: $grey-lvl8;
          border-color: $grey-lvl8;
      }
  }
   
  &--menu {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    &:hover, &:focus .button__icon {
      stroke: $grey-lvl8;
      transition: all 300ms linear;
    }
  }
  
  &__icon-container {
    margin-left: 5px;
  }
  
// Icon inside button   
  &__icon {
    stroke: $grey-lvl6;
    stroke-width: 3;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    fill: none;
      transition: all 300ms linear;
  }

// Icon inside button (humburger or cross) depends on 
// button__menu state (open or close) toggled by clicking - button--menu.js
    &--open {
      .button__icon--open {
          transform: translateY(-40px);
          opacity: 0;
      }
      .button__icon--close line {
          opacity: 1;
          transform: translateY(0);
          transition: transform 300ms linear;
      }
    }

    &--close {
      .button__icon--open {
          opacity: 1;
          transform: translateY(0); 
      }
      .button__icon--close line {
          opacity: 0;
          transform: translateY(40px);
          transition: all 300ms linear;
      }
    }

  
// Second type of button  
  &--secondary {
    //position: relative;
    background-color: $color-main;
    height: 60px;
    padding: 0 35px;
    border: none;
    border-radius: 45px;
    font-size: $font-size-xs;
    color: $grey-lvl1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    &:hover, &:focus {
      color: $grey-lvl8;
      text-shadow: none;
    }
  }
}

// Media queries
@mixin button--menu\@screen_tiny {
  .button--menu {
    padding: 0 30px;
  }
}
@mixin button--menu\@screen_small {
    .button--menu {
      display: none;
    }
  }
@mixin button--menu\@screen_potrait {
  .button--menu {
    height: 50px;
  }
}