.services__wrapper {
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


@media all and (min-width: 975px) {
    .services__wrapper {
        height: 335px;
    }
}