.logo__pic {
    position: relative;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 4px;
}

.logo__pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo__pic::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    background-color: $green;
    border-radius: 50%;
    z-index: -10;
}