 .l-section--offer {
    background: url("../img/offer/gear.png");
    background-color: $grey-lvl3;
    background-position: 10%;
    background-repeat: no-repeat;
    position: relative;
    text-align: left;
}