.feature__description {
    font-size: 14px;
    line-height: 1.5;
    
    @media only all and (max-width: 360px) {
        font-size: 11px;
    }
}

.l-section--background_dark .feature__description {
    color: $grey-lvl2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 7px;
}