.feature__description {
    font-size: 14px;
    line-height: 1.5;
}

.l-section--background_dark .feature__description {
    color: $description-light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}