/* Font family*/
$font-first: 'Roboto Slab', serif;
$font-second: 'Montserrat', sans-serif;

/* Font size*/
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 22px;
$font-size-xl: 40px;
$font-size-xxl: 60px;


/* Colors */
$grey-lvl1: #ffffff;
$grey-lvl2: #f9f9f9;
$grey-lvl3: #e9e9e9;
$grey-lvl4: #ececec;
$grey-lvl5: #cccccc;
$grey-lvl6: #777777;
$grey-lvl7: #555555;
$grey-lvl8: #222222;

$green: #7cc576;