/* Font */
$baseFont: 'Roboto Slab', serif;
$secondFont: 'Montserrat', sans-serif;

/* Colors */

$greyLvl1: #ffffff;
$greyLvl2: #ececec;
$greyLvl3: #cccccc;
$greyLvl4: #777777;
$greyLvl5: #555555;
$greyLvl6: #222222;

$green: #7cc576;
