.heading {
  &__title {
    font-family: $font-second;
    font-size: 33px;
    color: $grey-lvl8;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    
    &--large {
      font-size: 50px;
      margin-bottom: 40px;
    }
    
    &--light {
      color: $grey-lvl1;
    }
  }
  
  &__subtitle {
    font-size: $font-size-m;
    color: $grey-lvl6;
    margin-bottom: 90px;
    
    &--small {
      font-size: $font-size-xs;
      max-width: 520px;
    }
    &--light {
      color: $grey-lvl5;
    }
    &--margin_small {
      margin-bottom: 60px;
    }
    &--margin_tiny {
      margin-bottom: 20px;
    }
  }
}

  

// Media queries 
  // X-Large screen > 370px
  @mixin heading\@screen_tiny {
    .heading__title {
      font-size: $font-size-xl;
      
      &--large {
        font-size: $font-size-xxl;
      }
    }
  }