.heading__subtitle {
    font-size: 20px;
    margin-bottom: 60px;
    color: $grey-lvl5;
}

.l-section--banner .heading__subtitle {
    margin-bottom: 60px;
}

.l-section--offer .heading__subtitle {
    margin-bottom: 20px;
}