.l-section--banner {
    margin-top: 113px;
    background: url("../img/banner/background.png");
    background-size: 1600px;
    background-position: bottom;
    position: relative;
    height: calc(100vh - 113px);
}


.l-section--banner::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-device-width: 900px) and (orientation: landscape) {
    .l-section--banner {
        margin-top: 50px;
    }
}