.feature__icon-circle {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 2px solid #777777;
    border-radius: 50%;
    position: relative;
    transition: transform 150ms ease-in;
}

@media all and (min-width: 1024px) {
    .feature__icon-circle::after {
        content: "";
        position: absolute;
        width: 170px;
        top: calc(50% - 2px);
        left: 115px;
        border-bottom: 2.5px solid #777777;
        display: inline;
    }
}


.feature:hover .feature__icon-circle {
    transform: scale(1.2);
}

.l-section--background_light .feature:hover .feature__icon-circle {
    transform: scale(1);
}
