.project {
  text-align: left;
  width: 100%;
  max-width: 470px;
  opacity: 0;
  transform: translateX(-300px) rotate(-90deg);
  transition: all 600ms linear;
  

  &__title {
    font-family: $font-second;
    font-size: $font-size-s;
    color: $grey-lvl8;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  &__description {
    font-size: $font-size-xxs;
    width: 100%;
    max-width: 380px;
    margin-bottom: 25px;
    line-height: 1.5;
  }
  
  &__features {
    text-align: left;
  }
  
  &__link {
    font-family: $font-second;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  &--showing {
    opacity: 1;
    transform: translateX(0);
    
  }
}