*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #222222;
    background: #7cc576;
}

::selection {
    color: #222222;
    background: #7cc576;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #777777;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: $green-text;
}

.green-text {
    color: #7cc576;
}
