*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: $grey-lvl8;
    background: $green;
}

::selection {
    color: $grey-lvl8;
    background: $green;
}

body {
    font-family: $font-first;
    color: $grey-lvl6;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: $green;
}

.green-text {
    color: $green;
}
