@include respond(850px) {
    .l-section--projects {
        background: url("../img/projects/ipad.png");
        background-position-x: right;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: 57%;
    }
}

@include respond(1200px) {
    .l-section--projects {
        background-size: auto;
    }
}