.services {
    height: 735px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 975px) {
    .services {
    height: 535px;
    }
}