.feature--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* width: 470px; */
    margin-top: 15px;
}

.feature--inline:last-of-type {
    margin-bottom: 15px;
}

.feature--inline .feature__icon {
    padding: 0;
}