.feature__icon {
    padding-bottom: 15px;
    transition: transform 150ms ease-in;
}

.l-section--background_dark .feature__icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-right: 10px;
}


.l-section--background_light .feature:hover img {
    transform: scale(1.2);
}
.l-section--background_light .feature:hover .feature__icon {
    transform: scale(1);
}

.feature:hover .feature__icon {
    transform: scale(1.2);
}