.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 290px;
    &:first-child {
      margin-top: 0;
}
  
  &__text {
    margin-left: 15px;
    text-align: left;
  }
  
  &__title {
    font-family: $font-second;
    font-size: $font-size-s;
    text-transform: uppercase;
    color: $grey-lvl8;
    margin-bottom: 5px; 
    
    &--lowercase {
      text-transform: capitalize;
    }
  }
  
  &__description {
    font-size: 13px;
    line-height: 1.5;
  }
  
  &__icon-circle {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 2px solid #777777;
    border-radius: 50%;
    position: relative;
    transition: transform 150ms ease-in;
    
    &--black {
      margin: 0 auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border: 2px solid #000000;
      border-radius: 50%;
      position: relative;
    }
  }
  
  &__icon {
    padding-bottom: 15px;
  }
  
  &__svg {  
    transition: transform 150ms ease-in;
  }
  
  &--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* width: 470px; */
    margin-top: 15px;
    width: 100%;
    max-width: 470px;
    &:last-of-type {
      margin-bottom: 15px;
    }
    .feature__icon {
      padding: 0;
    }
  }
  
  &:hover .feature__icon-circle--resizing, &:hover .feature__svg {
    transform: scale(1.2);
  }
}

  
  

// Media queries 
  // Small screen > 376px 
  @mixin feature__description--small-screen {
    .feature__description {
      font-size: $font-size-xxs;
    }
  }

  // X-Large screen > 1024px
  @mixin feature--x-large-screen {
    .feature {
      margin-top: 0; 
      
      &--inline {
        margin-top: 15px;
      }
    
    &__title {
      margin-bottom: 15px;
    }
      
    &__icon-circle--with-line::after {
      content: "";
      position: absolute;
      width: 170px;
      top: calc(50% - 2px);
      left: 115px;
      border-bottom: 2.5px solid #777777;
      display: inline;
    }
      
    &__icon {
      padding-bottom: 30px;
    }
  }
}