.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 310px;
}

.feature:first-child {
    margin-top: 0;
}


@media all and (min-width: 1075px) {
    .feature {
        margin-top: 0;
    }
}

.l-section--background_dark .feature {
    align-items: flex-start;
}