.l-section__content-wrapper {
    width: 100%;
    max-width: 940px;
    margin: 100px auto 100px auto;
    z-index: 1;
}

.l-section--banner .l-section__content-wrapper {
    height: calc(100vh / 2);
    margin: 50% auto auto auto;
}