.l-section__content-wrapper {
    width: 90%;
    max-width: 940px;
    margin: 50px auto;
    z-index: 1;
}

.l-section--offer .l-section__content-wrapper {
    background: url("../img/offer/background.png");
    width: 75%;
    max-width: none;
    min-width: 750px;
    margin: 0;
    padding: 100px 25px;
    align-self: flex-end;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    color: $grey-lvl5;
}

.l-section--offer .l-section__content-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

@media only screen and (min-width: 765px) {
    .l-section--offer .l-section__content-wrapper{
        background-attachment: fixed;  
        padding-left: 90px;
    }
    .l-section--offer .l-section__content-wrapper::after {
    content: "";
    width: 200px;
    height: 100%;
    background: url("../img/offer/gear.png");
    background-color: $grey-lvl3;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    top: 0;
    left: -200px;
    z-index: -100;
}
}