.l-features-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media all and (min-width: 1075px) {
    .l-features-wrapper {
        flex-direction: row;
        width: 100%;
        max-width: 940px;
        height: 180px;
    }
}