.menu__link {
    font-family: $font-second;
    font-size: $font-size-xxs;

    text-decoration: none;
    text-transform: uppercase;

    color: $grey-lvl4;
}

.menu__link:hover {
    color: $grey-lvl6;
}