/*
-------------------------------------------------------------------------
* CONTENTS                                                              |
*                                                                       |
* #1 SETTINGS ****                                                      |
*   --- Global ---                                                      |
*   --- Normalize.css ---                                               |
*                                                                       |
* #2 LAYOUT                                                             |
*                                                                       |
* #3 BLOCKS                                                             |
*   --- Header Block                                                    |
*      __ Header Elements                                               |

-------------------------------------------------------------------------



/* variables  ---------------------------------------------------- */
/* Font family*/
/* Font size*/
/* Colors */
/* mixins  ---------------------------------------------------- */
/* global  ---------------------------------------------------- */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-moz-selection {
  /* Code for Firefox */
  color: #222222;
  background: #7cc576; }

::selection {
  color: #222222;
  background: #7cc576; }

html {
  min-height: 100%;
  position: relative; }

body {
  font-family: "Roboto Slab", serif;
  color: #777777; }

.body-cover:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 80px);
  background-color: rgba(38, 38, 38, 0.3);
  position: fixed;
  z-index: 2; }

.blur {
  filter: blur(3px); }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: #7cc576; }

.green-text {
  color: #7cc576; }

/* preloader  ---------------------------------------------------- */
.preloader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #7cc576 linear-gradient(to right, #7cc576, #7cc576);
  transition: opacity .35s ease; }
  .preloader__dot {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    -webkit-animation: show-hide 1s ease infinite;
    animation: show-hide 1s ease infinite; }
    .preloader__dot:nth-child(2) {
      -webkit-animation-delay: 300ms;
      animation-delay: 300ms; }
    .preloader__dot:nth-child(3) {
      -webkit-animation-delay: 600ms;
      animation-delay: 600ms; }
  .preloader--hiding {
    opacity: 0; }
  .preloader--hidden {
    display: none; }

@-webkit-keyframes show-hide {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes show-hide {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
/************************************************************************\
  # SETTINGS --- Global end ----------------------------------------------
\************************************************************************/
/*\
***
\*/
/************************************************************************\
  2# LAYOUT start ######################################################
\************************************************************************/
/* l-section  ---------------------------------------------------- */
.l-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

/* >> l-section--banner -------------------------------------------------- */
.l-section--banner {
  margin-top: 80px;
  background: url("../img/banner/background.png");
  background-size: cover;
  background-position: right;
  position: relative;
  height: 550px; }

.l-section--banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (max-device-width: 900px) and (orientation: landscape) {
  .l-section--banner {
    margin-top: 50px; } }
/* >> l-section--offer -------------------------------------------------- */
.l-section--offer {
  background-color: #e9e9e9; }

/* >> l-section--projects -------------------------------------------------- */
@media only screen and (min-width: 850px) {
  .l-section--projects {
    background: url("../img/projects/ipad.png");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 57%; } }
@media only screen and (min-width: 1200px) {
  .l-section--projects {
    background-size: auto; } }
/* >> l-section--footer -------------------------------------------------- */
.l-section--footer {
  flex-direction: column-reverse; }

@media only screen and (min-width: 700px) {
  .l-section--footer {
    flex-direction: row; } }
/* >> l-section--shade -------------------------------------------------- */
.l-section--background_light {
  background-color: #f9f9f9; }

/* >> l-section--top-footer -------------------------------------------------- */
.l-section--background_dark {
  background-color: #222222; }

/* >> l-section--contact -------------------------------------------------- */
.l-section--background_green {
  background-color: #7cc576; }

/* __ l-section__content-wrapper -------------------------------------------------- */
.l-section__content-wrapper {
  width: 90%;
  max-width: 940px;
  margin: 60px auto;
  z-index: 1; }

@media only screen and (min-width: 1024px) {
  .l-section__content-wrapper {
    margin: 100px auto; } }
.l-section--offer .l-section__content-wrapper {
  background: url("../img/offer/background.png");
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 100px 25px;
  align-self: flex-end;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: #cccccc; }

.l-section--offer .l-section__content-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }

@media only screen and (min-width: 970px) {
  .l-section--offer .l-section__content-wrapper {
    padding-left: 90px;
    width: 75%;
    min-width: 750px; }

  .l-section--offer .l-section__content-wrapper::after {
    content: "";
    width: 200px;
    height: 100%;
    background: url("../img/offer/gear.png");
    background-color: #e9e9e9;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    top: 0;
    left: -200px;
    z-index: -100; } }
@media only screen and (min-width: 1367px) {
  .l-section--offer .l-section__content-wrapper {
    background-attachment: fixed; } }
.l-section--footer .l-section__content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  @media only screen and (min-width: 1024px) {
    .l-section--footer .l-section__content-wrapper {
      position: relative;
      flex-direction: row; } }

/* __ l-section__content-wrapper--small-margin -------------------------------------------------- */
.l-section__content-wrapper--margin-small {
  margin: 60px auto; }

/* __ l-section__content-wrapper--xsmall-margin -------------------------------------------------- */
.l-section__content-wrapper--margin-xsmall {
  margin: 40px auto; }

/* l-features-wrapper ---------------------------------------------------- */
.l-features-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

@media all and (min-width: 1024px) {
  .l-features-wrapper {
    flex-direction: row;
    width: 100%;
    max-width: 940px; } }
/* >> l-features-wrapper--top-aligned ---------------------------------------------------- */
@media all and (min-width: 1024px) {
  .l-features-wrapper--top-aligned {
    align-items: flex-start; } }
/*\
***
\*/
/************************************************************************\
  3# BLOCKS start ########################################################
\************************************************************************/
/************************************************************************\
  # BLOCK --- Header start -----------------------------------------------
\************************************************************************/
/* header  ---------------------------------------------------- */
.header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

/* __ header__wrapper -------------------------------------------------- */
.header__wrapper {
  width: 90%;
  max-width: 940px;
  height: 80px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__wrapper a {
  text-decoration: none; }

@media only screen and (min-width: 765px) {
  .header__wrapper {
    height: 115px; } }
@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .header__wrapper {
    height: 50px; } }
/* logo  ---------------------------------------------------- */
.logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px; }
  .logo:hover .logo__text {
    text-decoration: none;
    color: #222222; }
  .logo__pic {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 4px; }
    .logo__pic::before {
      position: absolute;
      z-index: -10;
      top: 0;
      left: 0;
      width: 28px;
      height: 28px;
      content: '';
      border-radius: 50%;
      background-color: #7cc576; }
    .logo__pic img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .logo__text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #555555; }

/* menu  ---------------------------------------------------- */
.menu__list {
  display: none; }
  .menu__list--open {
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 13px 12px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 13px 12px rgba(0, 0, 0, 0.37);
    box-shadow: 0 13px 12px rgba(0, 0, 0, 0.37);
    align-items: center;
    justify-content: space-around; }
.menu__item {
  display: inline-block;
  margin-left: 17px;
  margin-right: 17px; }
.menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777; }
  .menu__link:hover {
    color: #222222; }

/* heading  ---------------------------------------------------- */
    /*@import "blocks/heading/heading.scss"; 
/* __ heading__title -------------------------------------------------- */
.heading__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px; }
  @media only all and (max-width: 360px) {
    .heading__title {
      font-size: 33px; } }

/* __>> heading__title--white -------------------------------------------------- */
.heading__title--white {
  color: #FFFFFF; }

/* __>> heading__title--large -------------------------------------------------- */
.heading__title--large {
  font-size: 60px;
  margin-bottom: 40px; }
  @media only all and (max-width: 360px) {
    .heading__title--large {
      font-size: 43px; } }

/* __ heading__subtitle -------------------------------------------------- */
.heading__subtitle {
  font-size: 20px;
  margin-bottom: 60px;
  color: #777777; }

.l-section--banner .heading__subtitle {
  margin-bottom: 60px;
  color: #cccccc; }

.l-section--offer .heading__subtitle {
  margin-bottom: 20px;
  color: #cccccc; }

/* __>> heading__subtitle--small -------------------------------------------------- */
.heading__subtitle--small {
  font-size: 16px;
  max-width: 520px; }

/* project --------------------------------------------------------- */
.project {
  text-align: left;
  width: 100%;
  max-width: 470px; }
  .project__title {
    font-size: 18px;
    text-align: left; }
  .project__description {
    font-size: 14px;
    margin-bottom: 25px;
    text-align: justify;
    line-height: 1.5; }
  .project__features {
    text-align: left; }
  .project__link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600; }

/* >> project__features --------------------------------------------------------- */
.project__features {
  text-align: left; }

/* >> project__link --------------------------------------------------------- */
.project__link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600; }

/* feature --------------------------------------------------------- */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px; }
  .feature__title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 5px; }
    .feature__title--lowercase {
      text-transform: capitalize; }
  .feature__icon-circle {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 2px solid #777777;
    border-radius: 50%;
    position: relative;
    transition: transform 150ms ease-in; }
    .feature__icon-circle--black {
      margin: 0 auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border: 2px solid #000000;
      border-radius: 50%;
      position: relative; }
  .feature :hover .feature__icon-circle--resizing {
    transform: scale(1.2); }

@media all and (min-width: 1024px) {
  .feature__icon-circle--with-line::after {
    content: "";
    position: absolute;
    width: 170px;
    top: calc(50% - 2px);
    left: 115px;
    border-bottom: 2.5px solid #777777;
    display: inline; } }
.l-section--background_dark .feature__title {
  color: #ffffff;
  margin-bottom: 15px; }

@media only screen and (min-width: 1024px) {
  .feature__title {
    margin-bottom: 15px; }

  .l-section--background_dark .feature {
    align-items: flex-start; } }
/* __ feature__icon -------------------------------------------------- */
.feature__icon {
  padding-bottom: 15px; }

@media only screen and (min-width: 1024px) {
  .feature__icon {
    padding-bottom: 30px; } }
.l-section--background_dark .feature__icon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-right: 10px; }

/* __>> feature__icon--top -------------------------------------------------- */
.feature__icon--top {
  align-self: flex-start;
  padding-top: 3px; }

/* __ feature__svg -------------------------------------------------- */
.feature__svg {
  transition: transform 150ms ease-in; }

/*.l-section--background_light*/
.feature:hover .feature__svg {
  transform: scale(1.2); }

/* __ feature__text -------------------------------------------------- */
.feature__text {
  margin-left: 15px;
  text-align: left; }

/* __ feature__description -------------------------------------------------- */
.feature__description {
  font-size: 14px;
  line-height: 1.5; }
  @media only all and (max-width: 360px) {
    .feature__description {
      font-size: 11px; } }

.l-section--background_dark .feature__description {
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 7px; }

/* __>> feature__description--small -------------------------------------------------- */
.feature__description--small {
  font-size: 12px; }

/* __>> feature__description--hashtag -------------------------------------------------- */
.feature__description--hashtag {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L"; }

/* B--M feature--inline -------------------------------------------------- */
.feature--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* width: 470px; */
  margin-top: 15px;
  width: 100%;
  max-width: 470px; }

.feature--inline:last-of-type {
  margin-bottom: 15px; }

.feature--inline .feature__icon {
  padding: 0; }

/* list ---------------------------------------------------- */
.list {
  list-style-type: none; }

/* __ list__item -------------------------------------------------- */
.list__item {
  background-image: url("../img/offer/circle-checkmark.svg");
  background-position: 0 6px;
  background-repeat: no-repeat;
  padding-left: 41px;
  padding-top: 12px;
  padding-bottom: 12px; }

.list__item:last-child {
  margin-bottom: 50px; }

/* opinion ---------------------------------------------------- */
.opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; }
  .opinion:last-of-type {
    margin-bottom: 0; }
  .opinion__picture-background {
    width: 220px;
    height: 220px;
    background-color: #f9f9f9;
    border-radius: 50%;
    margin: 0 45px 45px 45px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .opinion__picture {
    width: 90%;
    height: 90%;
    border-radius: 50%; }
  .opinion__quotation {
    background-color: #f9f9f9;
    padding: 40px;
    width: 100%;
    max-width: 640px;
    position: relative; }
    .opinion__quotation::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: calc(50% - 13px);
      top: -23px;
      border-bottom: 23px solid #f9f9f9;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-top: none;
      z-index: 100; }
  .opinion__text {
    font-size: 22px;
    margin-bottom: 20px; }
    .opinion__text::before {
      content: '" '; }
    .opinion__text::after {
      content: ' "'; }
  .opinion__author {
    font-size: 18px; }

/* partners ---------------------------------------------------- */
.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .partners__logo {
    padding: 20px;
    width: 100%; }

/* socials ---------------------------------------------------- */
.socials {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px; }
  .socials__icon {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
    transition: background-color 150ms linear; }
    .socials__icon--facebook:hover {
      background-color: #3b5998; }
    .socials__icon--google:hover {
      background-color: #da2713; }
    .socials__icon--pinterest:hover {
      background-color: #cb2028; }
    .socials__icon--twitter:hover {
      background-color: #00aced; }

/* __ socials__copyright -------------------------------------------------- */
/* __ socials__icons -------------------------------------------------- */
/* button  ---------------------------------------------------- */
.button {
  background-color: transparent;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
  transition: all 300ms ease-in;
  z-index: 3; }
  .button:hover {
    background-color: #ffffff;
    color: #7cc576; }
  .button--dark {
    border-color: #777777;
    color: #777777; }
    .button--dark:hover {
      color: #222222;
      border-color: #222222; }
  .button--menu {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px; }
    .button--menu:hover .button__icon {
      stroke: #222222; }
  .button__icon-container {
    margin-left: 5px; }
  .button__icon {
    stroke: #777777;
    stroke-width: 3;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    fill: none;
    transition: all 300ms linear; }
  .button--open .button__icon--open {
    transform: translateY(-40px);
    opacity: 0; }
  .button--open .button__icon--close line {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms linear; }
  .button--close .button__icon--open {
    opacity: 1;
    transform: translateY(0); }
  .button--close .button__icon--close line {
    opacity: 0;
    transform: translateY(40px);
    transition: all 300ms linear; }
  .button--secondary {
    background-color: #7cc576;
    height: 60px;
    padding: 0 35px;
    border: none;
    border-radius: 45px;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7); }
    .button--secondary:hover {
      color: #222222;
      text-shadow: none; }

/************************************************************************\
  # BLOCK --- Banner end -------------------------------------------------
\************************************************************************/
/*\
***
\*/
/* media-queries  ---------------------------------------------------- */
@media only screen and (min-width: 370px) {
  .button--menu {
    padding: 0 30px; } }
@media only screen and (min-width: 640px) {
  .button--menu {
    display: none; }

  .menu__list {
    display: flex; } }
@media only screen and (min-width: 640px), (orientation: portrait) {
  .button--menu {
    height: 50px; }

  .menu__list--open {
    top: 80px;
    height: 300px; } }
@media only screen and (min-width: 750px) {
  .opinion {
    flex-direction: row; }
    .opinion:nth-child(even) {
      flex-direction: row-reverse; }

  .opinion__picture-background {
    margin: 0;
    width: 100%;
    max-width: 220px; }

  .opinion__quotation {
    margin-left: 30px;
    margin-right: 30px; }
    .opinion__quotation::before {
      top: calc(50% - 13px);
      left: -23px;
      border-right: 23px solid #f9f9f9;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-left: none; }
    .opinion__quotation:nth-child(even) .opinion__quotation::before {
      left: 100%;
      transform: scaleX(-1); } }
@media only screen and (min-width: 1024px) {
  .socials {
    position: absolute;
    left: calc(50% - 100px);
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
