.socials__icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;


    @include respond(1024px) {
        position: absolute;
        left: calc(50% - 100px);
        margin: 0;
    }
}