.l-section { 
  @include flexbox(center, center);
  flex-direction: column;
  text-align: center;
  
  &__anchor {
    display: block;
    height: 49px; /*same height as header - 1px*/
    margin-top: -49px; /*same height as header*/
    visibility: hidden;

  }

  &--banner {
    margin-top: 80px;
    background: url("../img/banner/background.png");
    background-size: cover;
    background-position: right;
    position: relative;
    height: 550px;
    
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .75);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  &--background-color {
    &_main { 
      background-color: $color-main; 
    }
    &_light {
      background-color: $grey-lvl2;
    }
    &_medium {
      background-color: $grey-lvl3;
    }
    &_dark { 
      background-color: $grey-lvl8; 
    }
  }
}


// Media queries 
  // Medium screen >750px
  @mixin l-section\@screen_medium {
    .l-section {
      &__anchor {
        height: 115px;
        margin-top: -114px;
      }
      &--banner {
        margin-top: 114px;
      }
    }
  }

  // Large screen >850px
  @mixin l-section--projects\@screen_large {
    .l-section--projects {
      background: url("../img/projects/ipad.png");
      background-position-x: right;
      background-position-y: bottom;
      background-repeat: no-repeat;
      background-size: 57%;
    }
  }

  // Max screen >1200px
  @mixin l-section--projects\@screen_mega {
    .l-section--projects {
      background-size: auto;
    }
  }

  // Portrait
  @mixin l-section\@screen_portait {
    .l-section {
      &__anchor {
        height: 79px;
        margin-top: -79px;
      }
    }
  }