// Media Queries //
@mixin respond($query) {
    @media only screen and (min-width: $query) {
        @content
    }
}

// Flexbox //
@mixin flexbox($justify-content, $align-items) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: $justify-content;
     -ms-flex-pack: $justify-content;
   justify-content: $justify-content;
 -webkit-box-align: $align-items;
    -ms-flex-align: $align-items;
       align-items: $align-items;     
}

// Background //
@mixin linear-gradient($direction, $color1, $color2) {
    background: $color1 linear-gradient(to $direction, $color1, $color2);
}


// Animation //
@mixin animation($name, $duration, $timing-function, $iteration) {
    -webkit-animation: $name $duration $timing-function $iteration;
            animation: $name $duration $timing-function $iteration;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

// Transform // 
@mixin transform($transforms) {
    -webkit-transform: $transforms;
        -ms-transform: $transforms;
            transform: $transforms;
}
    // Scale
    @mixin scale($scale) {
        @include transform(scale($scale));
    }
    // Translate
    @mixin translate ($x, $y) {
        @include transform(translate($x, $y));
    }