.feature__title {
    font-family: $font-second;
    font-size: 18px;
    text-transform: uppercase;
    color: #222222;
}

.l-section--background_dark .feature__title {
    color: #ffffff;
    margin-bottom: 15px;
}