.feature__title {
    font-family: $font-second;
    font-size: 18px;
    text-transform: uppercase;
    color: $grey-lvl8;
    margin-bottom: 5px;
    
}

@include respond(1024px) {
    .feature__title {
    margin-bottom: 15px;
}
}

.l-section--background_dark .feature__title {
    color: $grey-lvl1;
    margin-bottom: 15px;
}