.heading__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    
    @media only all and (max-width: 360px) {
        font-size: 33px;
    }
}