.opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  :last-of-type {
    margin-bottom: 0;
  }
}

  

// Media queries 
  @mixin opinion--large-screen {
    .opinion {
      flex-direction: row;
    }
    .opinion:nth-child(even) {
        flex-direction: row-reverse;
    }
  }