// Block // 
.preloader {
    @include flexbox(center, center);
    
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    @include linear-gradient(right, $color-main, #7cc576);
    transition: opacity .35s ease;
    
// Element //     
    &__dot {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        border: 4px solid #ffffff;
        border-radius: 50%;
        @include animation(show-hide, 1s, ease, infinite);
        
        &:nth-child(2) {
            -webkit-animation-delay: 300ms;
                    animation-delay: 300ms;
        }
        
        &:nth-child(3) {
            -webkit-animation-delay: 600ms;
                    animation-delay: 600ms;
        }
    }
    
// Block Modifier //
    &--hiding {
        opacity: 0;
    }

// Block Modifier //
    &--hidden {
        display: none;
    }
}

@include keyframes(show-hide) {
    0% {
        @include scale(0);
    }
    50% {
        @include scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}